body{
  
}
.App {
  font-family: sans-serif;
  text-align: center;
  
}
.App ul{
  margin: 0 auto;
  width: 500px;
}
.App ul li{ 
  margin-top: 5px;
  
  border: 3px solid #DCD8CF;
}
form div{
  border: 3px solid #DCD8CF;
}

form div div{
  width: 500px;
}

/*
#DCD8CF
#E25D33
#282827
*/